<head>
  <!-- Bootstrap include -->
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
  />

  <!-- fontawsome -->
  <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
  />

  <!-- jquery 버전 유의 -->
  <!-- slim/jquery, 3.1.0 윗 버전에서 ajax가 작동하지 않는 오류 확인 -->
  <!-- Bootstrap의 CDN을 copy&paste 하되 Line 8의 버전만 3.1.0으로 수정하세요 -->
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>

<body>
  <div class="container">
      <br>
      <h1>범죄 기록 조회</h1>
      <p>
        재판 결과에 따른 범죄 항목을 명확히 기입하시오.
      </p>
      <br><br>
      <!-- 항목 -->
      <br>
      <form action="/registCrime" method="post">
        <label class="form-label" id="crimeNumber">조회할 범죄 번호</label>
        <input type="text" class="form-control">
        <br><br>
        <button class="btn btn-dark" id="btn-read"> 조회하기 </button>
      </form>
  </div>
  <div id="d_result" class="container">


  </div>
</body>

<script>
  $("#btn-read").click(()=>{

    const crimeNumber = $("#crimeNumber").val()
    console.log(crimeNumber)

    $.get("/readCrime",{crimeNumber},(data)=>{

      console.log(data.result)
      console.log(data.msg)


      //그려주기 전에 비워주기
      $("#d_result").empty()
      $("#d_result").append(`<br><p>aaaa</p>`)

      //$("#d_result").append(`<br><p>범죄번호 : ${data.msg.crimeNumber}</p>`)
      //$("#d_result").append(`<p>이름 : ${data.msg.name}</p>`)
      //$("#d_result").append(`<p>핸드폰번호 : ${data.msg.number}</p>`)
      //data.msg.1233
      //data.msg.1233
      //data.msg.1233
      //data.msg.1233
      //data.msg.1233
    })
  })

</script>

<!-- styling -->
<style>
  .container {
      width: 100%;
      height: 500px;
      margin: 50px 50px;
      padding: 20px 20px;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }

  button {
      margin: 20px 10px;
  }

  input {
      width: 300px;
      padding: 10px 8px;
  }

  .col-6 {
      padding: 20px 10px;
  }
</style>
